<!DOCTYPE html>
<html>
  <head>
    <title>CCTAPDEV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'/>
    <link rel='icon' href='/images/favicon.png'  type='image/png'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type='text/css'/>
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
