<link rel='stylesheet' href='/stylesheets/error.css' type='text/css'/>

<div id='error'>
    <h3>NPM Packages Used</h3>
    <ul>
        <li>bcrypt</li>
        <li>cookie-parser</li>
        <li>dotenv</li>
        <li>express</li>
        <li>express-handlebars</li>
        <li>express-sessions</li>
        <li>http-errors</li>
        <li>mongoose</li>
        <li>morgan</li>
        <li>nodemailer</li>
    </ul>
    <h3>Other Libraries</h3>
    <ul>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>
    <h2>Return to <a href='/'>login page</a></h2>
</div>