@font-face {
    font-family: 'Sketchalot';
    src: url('/fonts/Sketchalot.ttf');
}

input[type="text"],[type="password"] {
	line-height: normal;
	background-image: url('/images/textbar.png');
	background-position: center;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	padding: 2% 7% 2% 7%;
}

span {
	line-height: normal;
}

body {
    font-family: 'Sketchalot';
    height:100vh;
    width: 100vw;
    min-height:550px;
    overflow-y: hidden;
}

#maincontainer {
    height: 100%;
    width: 100%;
}

#monstercontainer {
    width: 50%;
    height: 100%;
}

#menucontainer {
    width: 50%;
    height: 100%;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 10px;
}

#typeicon, .itemclass {
    display: inline-block;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.Rock {
    background-image: url('/images/typeicons/rock.png');
}

.Paper {
    background-image: url('/images/typeicons/paper.png');
}

.Scissors {
    background-image: url('/images/typeicons/scissors.png');
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.textimageflex {
    height: 30px;
}

.textimageflex h2 {
    line-height: 30px;
    margin-left: 10px;
}

@keyframes bob {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}

#monster {
    background-image: url('/images/monsters/jeremiah.png');
    background-size: contain;
    height: 250px;
    width: 250px;
    z-index: 2;
    margin-bottom: -85px;
    cursor: pointer;
    animation-name: bob;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

#terrain {
    background-image: url('/images/terrain/grass.png');
    background-size: contain;
    height: 250px;
    width: 250px;
    z-index: 1;
}

#healthinfo {
    width: 100%;
    max-width: 200px;
}

#healthbar {
	position: relative;
    display: inline-block;

}

#healthoutline {
	background-image:url('/images/hpbar.png');
    background-color: transparent;
	background-size: 200px 20px;
    background-position: center;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	padding: 10px 0px 10px 0px;
	z-index: 1;
	width: 100%;
	position:absolute;
}

#healthvar {
	background-image:url('/images/hpvar.png');
    background-color: transparent;
	background-size: 200px 20px;
    background-position: center;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	padding: 10px 0px 10px 0px;
	width: 100%;
}


#monsterrender {
    margin-bottom: 20px;
}

#menudisplay {
    position: relative;
    height: 100%;
    width: 90%;
    background-color: #c9821e;
}

#menubar {
    height: 100%;
    width: 10%;
    background-color: #edd991;
}

.menuoption {
    width: 100%;
    height: 15%;
    padding-left: 5px;
    padding-right: 5px;
}

.menuoption img {
    cursor: pointer;
}

.selected {
    background-color: #c9821e;
}

.fill {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.menu {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hidden {
    display: none;
}

#playerinfo * {
    margin-bottom: 15px;
}

#statsinfo * {
    margin-bottom: 25px;
}

.rarrow {
    cursor: pointer;
}

.leaderboard, .itemrow {
    height: 8.5%;
    width: 90%;	
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #edd991;
    margin-bottom: 5px;
    position: relative;
}

.rank {
    position: absolute;
    left: 10px;
    height: 100%;
}

/* Search */
.longbutton {
	line-height:normal;
	border: none;
	background-color: transparent;
	background-image: url('/images/button_long.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 12px;
	min-height: 49px;
	min-width: 222px;
}

.shortbutton {
	line-height:normal;
	border: none;
	background-color: transparent;
	background-image: url('/images/button.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 12px;
	min-height: 49px;
	min-width: 111px;
}

#searchresult {
	padding-top:20px;
}

#searchstatsinfo {
	line-height:normal;
}


/* Equipment */
.inv-contain {
    overflow-x: scroll;
    width: 256px;
    align-self: flex-end;
}

.inv-items {
    width: 256px;
}

.inv-square {
    border: 2px solid black;
    width: 64px;
    height: 64px;
}

#equippeditem {
    margin-top: 1%;
    margin-bottom: 2%;
    height: 10%;
}

#items, #consumables {
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    overflow-x: auto; 
    height: 30%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.itemrow {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    margin-left: 5%;
}

.itemsprite {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

#terrain {
    cursor: pointer;
}

.edit {
    padding-left: 20px;
}

.editchoice {
    margin-bottom: 20px;
}

/* Spritesheet*/
.itemspritesheet {
    background-size: 240px 90px;
    background-image: url('/images/items/itemspritesheet.png');
}

.consumablespritesheet {
    background-size: 120px 120px;
    background-image: url('/images/items/consumablespritesheet.png');
}

#rock0 {
    background-position: 0px 0px;
}

#rock1 {
    background-position: -30px 0px;
}

#rock2 {
    background-position: -60px 0px;
}

#rock3 {
    background-position: -90px 0px;
}

#rock4 {
    background-position: -120px 0px;
}

#rock5 {
    background-position: -150px 0px;
}

#rock6 {
    background-position: -180px 0px;
}

#rock7 {
    background-position: -210px 0px;
}

#paper0 {
    background-position: 0px -30px;
}

#paper1 {
    background-position: -30px -30px;
}

#paper2 {
    background-position: -60px -30px;
}

#paper3 {
    background-position: -90px -30px;
}

#paper4 {
    background-position: -120px -30px;
}

#paper5 {
    background-position: -150px -30px;
}

#paper6 {
    background-position: -180px -30px;
}

#paper7 {
    background-position: -210px -30px;
}

#scissors0 {
    background-position: 0px -60px;
}

#scissors1 {
    background-position: -30px -60px;
}

#scissors2 {
    background-position: -60px -60px;
}

#scissors3 {
    background-position: -90px -60px;
}

#scissors4 {
    background-position: -120px -60px;
}

#scissors5 {
    background-position: -150px -60px;
}

#scissors6 {
    background-position: -180px -60px;
}

#scissors7 {
    background-position: -210px -60px;
}

#damage0 {
    background-position: 0px 0px;
}

#damage1 {
    background-position: -30px 0px;
}

#damage2 {
    background-position: -60px 0px;
}

#damage3 {
    background-position: -90px 0px;
}

#luck0 {
    background-position: -30px -30px;
}

#luck1 {
    background-position: -30px -30px;
}

#luck2 {
    background-position: -60px -30px;
}

#luck3 {
    background-position: -90px -30px;
}

#brutality0 {
    background-position: 0px -60px;
}

#brutality1 {
    background-position: -30px -60px;
}

#brutality2 {
    background-position: -60px -60px;
}

#brutality3 {
    background-position: -90px -60px;
}

#speed0 {
    background-position: 0px -90px;
}

#speed1 {
    background-position: -30px -90px;
}

#speed2 {
    background-position: -60px -90px;
}

#speed3 {
    background-position: -90px -90px;
}